<h1>Listing articles</h1>
<p>
  <%= link_to 'New article', new_article_path %>
</p>
<!-- <table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th colspan="3"></th>
  </tr>
  <% @articles.each do |article| %>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.text %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure?'} %></td>
  </tr>
  <% end %>
</table> -->
<% @articles.each do |article| %>
  <h2><%= link_to "#{article.title}", article_path(article) %></h2>
  <p>
    <%= truncate(article.text, length: 200)%>
  </p>
  <div class="read-more">
    <%= link_to 'Read more', article_path(article)%>
  </div>
  <br>
  <hr>

<% end %>
